.college-hborder-bottom{
    border-bottom:1px solid rgb(219, 217, 217);
}
.border-gray{
    border:1px solid rgb(219, 217, 217);
}
.w-125{
    width:10rem;
}
.wh-gj{
    width:210px;
    height:253px;
}
.college-li:hover div{
    display: block !important;
}
.college-li{
    position: relative;
}
.college-li div{
    position: absolute;
    left:0px;
    top:0px;
}
.bg-light{
    background: #fff !important;
}
.ml-30{
    margin-left:34rem;
}
.weight-blod{
    font-weight: bold;
}
.ml-12{
    margin-left:11.5rem;;
    
}
.ml-35{
    margin-left: 36rem;
}
.pager .previous{
    border:1px solid rgb(219, 217, 217);
    border-radius: 40px;
    padding:5px 15px;
}
.pager .previous:hover,.pager .previous:hover a,
.pager .next:hover,.pager .next:hover a{
    color:#306ecb !important;
    background: rgb(243, 242, 242);
}
.pager .next{
    border:1px solid rgb(219, 217, 217);
    border-radius: 40px;
    padding:5px 15px;
    margin-left:36rem;
}
.line-height{
    line-height: 2rem;
    text-indent: 2.5rem;
}
.news-font{
    font-size: 15px;
    color:rgb(82, 79, 79);
}